*{
    font-size: 1rem;
}
body{
    background-color: lightblue;
}

#login-card{
    text-align: center;
    color: black;
    margin-left: 2em;
    
}
#login-page{
    padding: 10%;
    background-color: white;
    margin-top: 100px;
    margin: 10% 20%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 20px
}

@media(max-width:990px){
    #login-page{
        margin-top: 4rem;
        padding: 10% 6%;
    }
}